/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.logo img {
    height: 80px; /* 이미지 높이 */
    width: 140px; /* 너비 자동으로 조정 */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #666; /* 진한 회색으로 설정 */
    padding-top: 30px; /* 글자 아래로 이동 */
    display: block; /* 패딩 적용을 위해 블록 요소로 설정 */
    height: 100%; /* 전체 높이를 차지하도록 설정 */
    font-weight: bold; /* 글자 두껍게 설정 */
}

nav ul li a:hover {
    color: #3BA683; /* 마우스를 올렸을 때 민트색으로 변경 */
}

.search {
    text-align: center;
    padding: 50px 20px;
}

.search h1 {
    font-size: 32px; /* 글씨 크기 설정 */
}

.search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-box input {
    padding: 18px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #3BA683;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.top-destinations,
.domestic-destinations {
    text-align: center;
    padding: 50px 20px;
}

.top-destinations h2,
.domestic-destinations h2 {
    font-size: 28px; /* 글씨 크기 설정 */
    font-weight: bold; /* 선택 사항: 글씨 두께 설정 */
    margin-bottom: 30px; /* 제목 아래 여백 추가 */
}

.top-destinations h2 {
    font-size: 28px; /* 글씨 크기 설정 */
    font-weight: bold; /* 선택 사항: 글씨 두께 설정 */
}

.destination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 중앙 정렬 */
    gap: 5px; /* 사진 간격을 더 좁힘 */
    padding: 0 100px; /* 좌우 여백을 100px로 조정 */
}

.destination {
    width: calc(25% - 20px); /* 아이템 너비를 고정하여 한 줄에 4개 배치 */
    margin-bottom: 20px;
}

.destination:hover {
    transform: translateY(-5px);
}

.destination img {
    width: 75%; /* 이미지 너비를 꽉 채우도록 설정 */
    height: 300px; /* 원하는 높이로 설정 (세로를 길게 설정) */
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.destination p {
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 10px 0;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
