<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelShare</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="/">
            <img src="images/logo/logo_clean.png" alt="TripPin Logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#">여행지</a></li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">내 일정</a></li>
            <li><a href="/signup">회원가입</a></li>
            <li><a href="/login">로그인</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="search">
        <h1>어디로 여행을 떠나시나요?</h1>
        <div class="search-box">
            <input type="text" id="searchInput" placeholder="여행지를 검색하세요">
            <button id="searchBtn">검색</button>
        </div>
    </section>

    <section class="top-destinations">
        <h2>추천 여행지 Top3</h2>
        <div class="destination-list">
            <div class="destination">
                <img src="jeju.jpg" alt="Jeju">
                <p>Jeju</p>
            </div>
            <div class="destination">
                <img src="busan.jpg" alt="Busan">
                <p>Busan</p>
            </div>
            <div class="destination">
                <img src="seoul.jpg" alt="Seoul">
                <p>Seoul</p>
            </div>
        </div>
    </section>

    <section class="domestic-destinations">
        <h2>국내 여행지</h2>
        <div class="destination-list">
            <div class="destination" th:each="image : ${images}">
                <img th:src="${image.imageUrl}" th:alt="${image.alt}">
                <p th:text="${image.alt}"></p>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 TripPin. All rights reserved.</p>
</footer>

<!-- 모달 구조 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modalImage" src="" alt="">
        <h2 id="modalTitle"></h2>
        <p id="modalDescription"></p>
        <button id="registerButton">일정 등록하기</button>
    </div>
</div>


<!-- 자바스크립트 추가 -->
<script src="js/scripts_main.js"></script>
</body>
</html>
