<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Mappin</title>
    <link rel="stylesheet" type="text/css" href="css/style_sign.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo_clean.png" alt="TripPin Logo">
            </a>
        </div>
        <h2>Sign In</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="아이디를 입력해주세요" required>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required>
            <button type="submit">로그인</button>
        </form>
        <div class="social-login">
            <button class="google" onclick="location.href='/oauth2/authorization/google'"> Google</button>
            <button class="naver" onclick="location.href='/oauth2/authorization/naver'"> Naver</button>
            <button class="kakao" onclick="location.href='/oauth2/authorization/kakao'"> Kakao</button>
        </div>
        <div class="help-links">
            <a href="#">아이디 찾기</a>
            <span class="divider"></span>
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
</div>
</body>
</html>
