<!-- reset_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Mappin</title>
    <link rel="stylesheet" type="text/css" href="css/style_sign.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo/logo_clean.png" alt="TripPin Logo">
            </a>
        </div>
        <h2>Reset Password</h2>
        <form th:action="@{/reset-password}" method="POST">
            <input type="hidden" name="token" th:value="${token}">
            <input type="password" name="password" placeholder="새 비밀번호를 입력해주세요" required>
            <input type="password" name="password2" placeholder="비밀번호를 다시 입력해주세요" required>
            <button type="submit">비밀번호 재설정</button>
        </form>
    </div>
</div>
</body>
</html>
